.App{
  min-height: 100vh;
  background: linear-gradient(to right, #4286f4, #373B44);
}

.search-form{
  min-height: 10vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.search-bar{
  width: 50%;
  border: none;
  border: 10px
}

.search-button{
  background: lightblue;
  border: nonel;
  padding: 10px, 20px;
  color: black;
}

.recipies{
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}